/* This file is reserved for overriding and extending the template styles. */
.side-menu-container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
}

/* Hide the default scroll bar */
.side-menu-container::-webkit-scrollbar {
  width: 3px; /* Set the desired width of the scroll bar */
}

.side-menu-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.side-menu-container::-webkit-scrollbar-thumb {
  background-color: #888;
}

.contentArea {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh !important;
}

.contentArea::-webkit-scrollbar {
  width: 3px; /* Set the desired width of the scroll bar */
}

.contentArea::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.contentArea::-webkit-scrollbar-thumb {
  background-color: #888;
}
