.currency {
  border-radius: 10px;
  outline: none;
  border: 1px solid #d8d8d8;
  margin: 0px 0px 0px -1px;
  padding: 6px 12px;
  line-height: 1.5;
  color:#000000;
}

.currency:focus {
  border: 1px solid #1ea8e7;
}

.text-color-black {
  color:black;
}