nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
  border-radius: 8px;
  margin: 10px;
}

.main-menu::-webkit-scrollbar {
  height: 12px;
  width: 6px;
  width: 3px;
  margin-right: 0;
}

.main-menu::-webkit-scrollbar-corner {
  background: #000;
  margin-right: 0;
}

.main-menu::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.main-menu::-webkit-scrollbar-thumb {
  background-color: #888;
  -webkit-border-radius: 1ex;
}

.main-menu {
  max-height: 100%;
  height: 435px;
  overflow-y: scroll;
  overflow-x: hidden;
}

nav ul li {
  display: inline-block;
  position: relative;
  padding: 8px 2px;
}

nav ul li a {
  display: block;
  text-decoration: none;
}

nav .sub-menu {
  display: none;
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 5px 4px;
  box-shadow: 0 2px 5px rgba(44, 41, 41, 0.2);
  z-index: 2;
}

nav ul li:hover > .sub-menu {
  display: inline-block;
  position: absolute;
  top: 70%;
}

nav .sub-menu li {
  display: block;
}

nav .sub-menu .sub-menu {
  position: absolute;
  top: 70%;
  min-width: 200px;
}

nav .sub-menu .sub-menu .sub-menu {
  position: absolute;
  top: 70%;
  min-width: 200px;
}
.icon {
  position: relative;
  float: right;
}
