.bi-instagram{
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 6px;
    color: #fff;
    font-size: 20px;
    line-height: 25px;
    vertical-align: middle;
    padding-top: 1px;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    /* box-shadow: 0px 3px 10px rgba(0,0,0,.25); */
  }

  .fixed-chat{
    position: fixed; 
    bottom: 0;
    right: 0;
  }